/* FONTS */

/* NAVBAR */
#navbar{
  box-shadow: 0px -5px 12px;
}
#navbar .img-brand{
  margin-right: 10px;
}
#navbar .img-brand, .img-lang{
  height: 50px;
}
#navbar .nav-link{
  font-weight: 500;
}
#navbar .border-right{
  border-color: #000 !important;
  border-width: 2px !important;
}
.fixed-top {
  height: 8vh;
}
.bg-gart{
  background-color: #137;
  color: #fff;
}
/* CARRUSEL */
#carrusel{
  margin-top: 8vh;
}
#carrusel img{
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
#carrusel .slick-next{
  right: 45px;
}
#carrusel .slick-prev{
  left: 25px;
  z-index: 1;
}
#carrusel .slick-prev:before, #carrusel .slick-next:before{
  font-size: 2rem;
  color: #fff;
}
#carrusel .slick-dots{
  bottom: 10px;
}
#carrusel .slick-dots li button:before{
  color: white;
  font-size: 10px;
}
#carrusel .slick-dotted.slick-slider{
  margin-bottom: 1px;
}
/* MENU BTN */
#menu-btn{
  height: 6vh;
  margin-bottom: 50px;
}
#menu-btn .row{
  margin: 0;
  padding: 0;
}
#menu-btn .col{
  padding: 0;
}
#menu-btn a{
  padding-top: 10px;
}
/* NIVELES */
#niveles .row .col-sm-4,
#niveles .row .col-sm-6,
#niveles .row .col-sm-3{
  text-align: center;
  padding: 0 10px;
  height: 350px;
}
#niveles .row .cuadro{
  height: 100%;
  background: linear-gradient(138.5deg, #138 50%, #137 50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#niveles .row{
  margin: 0 !important;
  padding: 0 !important;
}
#niveles a:hover{
  text-decoration: none;
}
#niveles .cuadro:hover{
  background: linear-gradient(138.5deg, #114095 50%, #114085 50%) !important;
}
#niveles .icono{
  height: 50%;
  margin-top: 25px;
}
/* CONTENIDO CUADROS */
#niveles .card{
  margin: 10px 10px;
  border-radius: 0;
  background-color: #137;
  color: #fff;
}
/* CONTACTO */
#contacto .contacto-row{
  margin: 30px 0 0 0 !important;
  padding: 0;
  background-color: #138;
}
#contacto .contacto-geo{
  padding-left: 5rem;
  color: #fafafa;
  line-height: 30px;
}
#contacto .contacto-geo p{
  color: #ddd;
}
#contacto .contacto-mapa{
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: -6px!important;
}
#contacto .telefono-row{
  margin: 0;
}
#contacto .telefonos{
  padding: 0 50px;
}
#contacto .telefonos a{
  color: #138;
}
#contacto .como-llegar{
  background-color: #08b;
  color: #fff;
  padding: 0 50px;
}
#contacto .como-llegar .borde{
  border-left: 2px solid #ddd;
}
#contacto .mail-row{
  background: #138;
  color: #fff;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 5vh!important;
}
#contacto .mail-row a{
  color: #ccc;
}
/* FOOTER */
#footer {
  position: fixed;
  height: 6vh;
  bottom: 0;
  width: 100%;
  background-color: #666;
}
#footer a{
  color: #fff;
  text-decoration: none;
}
#footer .logo-footer{
  height: 50px;
  padding-left: 20px;
}
#contacto .iconos {
  height: 150px;
}
.img-nivel{
  height: 250px;
  object-fit: scale-down;
  float: right;
  padding-left: 70px;
}
.card{
  display: inline-block;
}

#data{
  background-color: #08b;
}
.collapsing{
  transition: height .7s ease;
}
.cuadro2{
  cursor: pointer;
}
.cuadro2:hover{
  background: linear-gradient(138.5deg, #0098cf 50%, #00a3df 50%) !important;
}
.cuadro2 a{
  color: white;
}
.landing-img{
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
}

@media only screen and (max-width:1440px){
  #navbar .nav-link{
    font-size: 13px;
  }
  #navbar .pr-3{
    padding-right: .35rem!important;
  }
}

#niveles .col{
  padding: 0;
  margin: 0;
  border: 3px solid white;
  height: 19vw;
}
