/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');


body{  
  font-family: 'Lato', sans-serif !important;
}
/* NAVBAR */
#navbar{
  box-shadow: 0px -5px 12px;
}
#navbar .img-brand{
  margin-right: 10px;
}
#navbar .img-brand, .img-lang{
  height: 50px;
}
#navbar .nav-link{
  font-weight: 500;
}
#navbar .border-right{
  border-color: #ccc !important;
  border-width: 2px !important;
}
.fixed-top {
  height: 8vh;
}
.nav-link-mobile{
  display: none;
}
.bg-gart{
  background-color: #000;
  color: #fff;
}
/* CARRUSEL */
#carrusel{
  margin-top: 8vh;
}
#carrusel .carru p{
  font-size: 1.2rem!important;
}
#carrusel .cuadrito:hover{
  background-color: rgba(255,255,255, 1);
  color: #000;
  border: 1px solid #000!important;
  font-weight: bold;
}
#carrusel .cuadrito{
  background-color: rgba(0,0,0,.5);
  height: 50px;
  width: 200px;
  position: absolute;
  top: 80%;
  right: calc(50% - 100px);
  color: white;
  border: 1px solid #ccc!important;
  padding: 2px;
  text-align: center;
  display: grid;
}
#carrusel .cuadrito p{
  margin: auto;
  font-family: "Titillium Web", 'Baloo Bhaina 2'!important;
}
#carrusel video,
#carrusel img{
  height: 80vh;
  width: 100%;
  object-fit: cover;
}
#carrusel .slick-next{
  right: 45px;
}
#carrusel .slick-prev{
  left: 25px;
  z-index: 1;
}
#carrusel .slick-prev:before, #carrusel .slick-next:before{
  font-size: 2rem;
  color: #fff;
}
#carrusel .slick-dots{
  bottom: 10px;
}
#carrusel .slick-dots li button:before{
  color: white;
  font-size: 10px;
}
#carrusel .slick-dotted.slick-slider{
  margin-bottom: 1px;
}
#campus-fhd{
  display: block;
}
#campus-hd{
  display: none;
}
#campus{
  display: none;
}
/* MENU BTN */
#menu-btn{
  height: 6vh;
  margin-bottom: 50px;
}
#menu-btn .row{
  margin: 0;
  padding: 0;
}
#menu-btn .col{
  padding: 0;
}
#menu-btn .btn,
#menu-btn button{
  border: none !important;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}
#menu-btn button:focus{
  outline: none;
  box-shadow: none;
}
#menu-btn .dropdown-menu .dropdown-item{
  font-family: 'Titillium Web', sans-serif;
}
#menu-btn .dropdown-menu{
  opacity: .9;
}
#menu-btn .dropdown-item:hover{
  background-color: unset!important;
  text-decoration: underline;
}
#menu-btn a{
  font-weight: lighter;
  padding-top: 10px;
  letter-spacing: -.5px;
}
/* NIVELES */
#niveles .row .col-sm-4,
#niveles .row .col-sm-6,
#niveles .row .col-sm-3{
  text-align: center;
  padding: 0 10px;
  height: 350px;
}
#niveles .row .cuadro{
  height: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
#niveles .row .cuadro h5{
  bottom: 10px;
  position: absolute;
  text-align: left;
  left: 16px;
  font-family: 'Baloo Bhaina 2', cursive;
}
#niveles .row{
  margin: 0 !important;
  padding: 0 !important;
}
#niveles a:hover{
  text-decoration: none;
}
#niveles .cuadro:hover{
  filter: brightness(.95);
  filter: grayscale(.15);
}
#niveles .icono{
  height: 50%;
  margin-top: 20%;
}
#cuadros{
  display: none;
}
/* CONTENIDO CUADROS */
.btn-primary,
.c-azul{
  background-color: rgb(0,122,255);
}
.text-primary{
  color: rgb(0,122,255)!important;
}
.btn-success,
.c-verde{
  background-color: rgb(52,199,89);
}
.btn-violet,
.c-violeta{
  background-color: rgb(175,82,222);
}
.btn-warning,
.c-amarillo{
  background-color: rgb(255,204,0);
}
.btn-danger,
.c-rojo{
  background-color: rgb(255,59,48);
}
.btn-info,
.c-celeste{
  background-color: rgb(90,200,250);
}
.content .content-overlay {
  background-color: rgba(99,99,102, .9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
.fadeIn-top{
  top: 20%;
}
.fadeIn-bottom{
  top: 80%;
}

#niveles .card{
  margin: 10px 10px;
  border-radius: 0;
  color: #fff;
}
#niveles .col{
  padding: 0;
  margin: 0;
  border: 3px solid white;
  height: 19vw;
}
.c-evento{
  background-image: url(../img/c-evento.jpg)!important;
  background-size: cover!important;
  background-position: center!important;
}
#niveles .c-evento:hover{
  background-image: url(../img/c-evento.jpg)!important;
  background-size: cover!important;  
  background-position: center!important;  
}
.c-intercambio{
  background-image: url(../img/c-intercambio.jpg)!important;
  background-size: cover!important;
  background-position: center!important;
}
#niveles .c-intercambio:hover{
  background-image: url(../img/c-intercambio.jpg)!important;
  background-size: cover!important;  
  background-position: center!important;  
}
.c-aulas{
  background-image: url(../img/c-aulas.jpg)!important;
  background-size: cover!important;
  background-position: center!important;
}
#niveles .c-aulas:hover{
  background-image: url(../img/c-musica.jpg)!important;
  background-size: cover!important;  
  background-position: center!important;  
}
.c-fisica{
  background-image: url(../img/c-fisica.jpg)!important;
  background-size: cover!important;
  background-position: center!important;
}
#niveles .c-fisica:hover{
  background-image: url(../img/c-fisica.jpg)!important;
  background-size: cover!important;  
  background-position: center!important;  
}
.c-musica{
  background-image: url(../img/c-musica.jpg)!important;
  background-size: cover!important;
  background-position: center!important;
}
#niveles .c-musica:hover{
  background-image: url(../img/c-musica.jpg)!important;
  background-size: cover!important;  
  background-position: center!important;  
}
/* AFILIADOS */
#afiliados{
  margin: 100px 0;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}
#afiliados img{
  max-height: 130px;
  max-width: 250px;
  display: inline-block;
  padding: 0 10px;
  margin: 15px;
}

/* CONTACT */
#contacto .mail-row{
  background: #333;
  color: #fff;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 5vh!important;
}
#contact-msj {
  border-right: 2px solid #ccc;
}
#contact-datos .unite {
  background-color: rgb(90,200,250);;
  margin-right: 20px;
  padding: 15px 5px 0 5px;
  border-radius: 8px;
}
#contact .btn-info{
  background-color: rgb(90,200,250);;
}
#contact-datos .unite h5 {
  color: #fff;
  font-weight: 600;
}
#contact-datos .unite a {
  border-top: 1px solid #fff;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
#contact h3{
  font-weight: bolder;
  color: #444;
}
#contacto .mail-row a{
  color: #ccc;
}
#contact a{
  color: #000;
}
/* FOOTER */
#footer {
  position: fixed;
  height: 6vh;
  min-height: 30px!important;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #0a0a0a;
  background-color: #222;
  padding: 0 10px;
}
#footer a{
  color: #bbb;
  text-decoration: none;
}
#footer .logo-footer{
  height: 50px;
  padding-left: 20px;
}
#footer ul{
  list-style: none;
  padding: 0;
}
#footer ul li{
  display: inline-block;
  margin: 0;
}
#footer .btn-gart{
  color: #bbb;
  background-color: transparent;
  border: 0;
  font-size: .9rem;
}
#footer .btn-gart:hover,
#footer .btn-gart:focus,
#footer .btn-gart:active{
  border: 0;
  outline: none;
  box-shadow: none;
}
#footer .dropdown-menu{
  background-color: #222;
  border: 1px solid gray;
  font-size: .9rem;
}
#footer .dropdown-item:hover{
  color: #000;
}
#contact {  
  padding: 5rem;
  background-image: url(/img/car/aleman.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#contact .border-t {
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#contact .icon{
  color: rgb(90,200,250);
  font-size: 40px;
}
#contacto .iconos {
  height: 150px;
}
.img-nivel{
  height: 250px;
  object-fit: scale-down;
  float: right;
  padding-left: 70px;
}


/* DATA */

#data .card{
  display: inline-block;
  width: 100%;
}

#gsuite{
  height: 60px;  
}
#data h1{
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -1.5px;
  color: #000!important;
  font-weight: lighter!important;
}
#data p{
  text-align: justify;
}
#datos-claves h5{
  font-family: 'Titillium Web', sans-serif;
}
#data .eoe h5{
  display: none;
}
#data .videos-profes h3{
  height: 65px;
}
#data .videos-profes video{
  min-height: 320px;
  max-height: 320px;
  height: 320px;
  background-color: #181818;
  margin-top: 1.5rem;
}
/* IMGS LANDINGS */
#img-landing{
  padding-top: 20px;
}
.landing-img{
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
.logo-arte{
  top: 37vh;
  height: 200px;
  z-index: 999999999;
  width: auto;
  position: absolute;
  left: unset;
  transform: translate3d(-50%,0,0);
  max-height: 200px;
}

@media only screen and (max-width:1440px){
  #navbar .nav-link{
    font-size: 12px;
  }
  #navbar .pr-3{
    padding-right: .35rem!important;
  }
}

@media only screen and (max-width:1280px){
  #navbar .nav-link{
    font-size: 10px;
  }
  #navbar .img-brand, .img-lang {
    height: 38px;
  }
  #niveles .cuadro h5{
    font-size: .8rem!important;
  }
  #contacto h5{
    font-size: 1.1rem;
  }
  #contacto a{
    font-size: .95rem;
  }
  #contacto .iconos{
    height: 100px;
  }
  #contacto span{
    padding: .5rem !important
  }
  #data .card p{
    font-size: .9rem!important;
  }
  #data .card img{
    height: 230px;
  }
  #data .card .mt-5{
    display: none;
  }
  #contact-datos{
    padding-right: 30px!important;
  }
}
@media only screen and (max-width:1024px){
  p,a{
    font-size: .9rem!important;
  }
  #navbar .nav-link{
    font-size: 10px!important;
  }
  #navbar .img-brand, .img-lang {
    height: 38px;
  }
  #contacto h5{
    font-size: 1rem!important;
    padding-bottom: 0!important;
  }
  #niveles .cuadro h5{
    font-size: .75rem!important;
  }
  #contact{
    padding: 2.5rem;
  }
  #footer ul li{
    margin: 0;
  }
  #footer .btn-gart{
    font-size: .85rem!important;
  }
  #footer .row a.mr-2{
    margin-right: .35rem!important;
  }
  #data .card img{
    height: 200px;
  }
  #data .card h3{
    font-size: 1.25rem;
  }
  #data .card li{
    font-size: .875rem;
  }
}
@media only screen and (max-width:991px){
  #navbarSupportedContent .nav-link-mobile{
    display: block;
  }
  .navbar-collapse{
    padding: 20px;
    text-align: center;
  }
  #navbar .pr-3{
    padding-right: 0!important;
  }
  #campus-fhd{
    display: none;
  }
  #campus-hd{
    display: block;
  }
  #campus{
    display: none;
  }
  .border-right{
    border: none!important;
  }
  .fixed-top{
    min-height: 8vh;
    height: auto;
  }
  .content-title{
    font-size: 1rem;
  }
  #contact{
    padding: 1.25rem;
  }
  #data .card img{
    width: 50%;
    height: auto;
  }
  #data .eoe img{
    display: block!important;
    margin: 20px auto 0 auto!important;
    width: 50vw!important;
    float: none!important;
  }
  #data .eoe .col-sm-3{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #data .eoe p{
    display: none;
  }
  #data .eoe h5{
    display: block;
    text-align: center;
  }
  #afiliados{
    margin: 70px 0;
  }
  #afiliados img {
    max-height: 32px;
    max-width: 95px;
    display: inline-block;
    padding: 0;
    margin: 12px 4px;
  }
}
@media only screen and (max-width:825px){
  p,a{
    font-size: .8rem!important;
  }
  #navbar .img-brand, .img-lang{
    height: 35px;
  }
  #carrusel video,
  #carrusel img {
    height: 63vh;
  }
  #menu-btn{
    height: 29vh;
    margin-bottom: 30px;
  }
  #menu-btn .col{
    display: flex;
    flex: initial;
  }
  #niveles .cuadro .icono {
    height: 45%;
    margin-top: 15px;
  }
  #niveles .cuadro h5 {
    font-size: .75rem!important;
    bottom: 0!important;
    left: 6px !important;
  }
  #contact{
    padding: 10px;
  }
  #contact .col-xs-3,
  #contact .icon{
    display: none;
  }
  #contact .col-xs-9 .pl-4{
    padding-left: 0!important;
  }
  #contact .unite {
    display: none;
  }
  #contacto .mail-row{
    margin-bottom: 0!important;
  }
  #contacto .mail-row .col-sm-6 .col-sm-3{
    display: none;
  }
  #contacto span{
    padding: .25rem !important
  }
  #footer{
    position: relative;
    height: auto;
  }
  #footer .col-sm-8{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 10px;
  }
  #footer .col-sm-3{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 100%;
    margin-right: 100%;
    text-align: center!important;
    padding-bottom: 15px;
  }
  #data .card img{
    height: auto;
    width: 50%;
    padding-left: 20px;
  }
  #data .card .btn-outline-info{
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width:575px){
  #menu-btn .dropdown-menu{
    width: 97%;
    text-align: center;
  }
  #niveles{
    display: none;
  }
  #cuadros{
    display: block!important;
  }
  #cuadros .icono{
    margin-top: 5vh;
    height: 70px;    
  }
  #cuadros .w-50{
    text-align: center;
    padding: 0!important;
    border: 3px solid white;
  }
  #cuadros .w-50 .cuadro{
    height: 23vh;
  }
  #cuadros a{
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-size: .8rem!important;
  }
  #cuadros h5{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 5px;
  }
  #contact-msj{
    border:none!important;
  }
  p{
    margin-bottom: .35rem;
  }
  #img-landing .landing-img{
    height: 35vh;
  }
  #campus-fhd{
    display: none;
  }
  #campus-hd{
    display: none;
  }
  #campus{
    display: block;
  }
  #data{
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
  }
  #data .card{
    display: block;
    padding: 1rem!important;
  }
  #data .card h1{
    font-size: 1.5rem!important;
  }
  #data .card img{
    display: none;
  }
  #contacto .borde{
    border-left: 0!important;
    padding-left: 1rem!important;
  }
  #contacto .mail-row .py-5{
    padding-bottom: 2rem!important;
    padding-top: 2rem!important;
  }
  #footer .col-sm-8 {
    text-align: center;
    padding: 20px;
  }
}