<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-NN2HME8G76"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NN2HME8G76");
    </script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="El Colegio Aleman de Ciudad Jardin Lomas del Palomar, Gartenstadt Schule, realiza enseñanzas desde el nivel inicial hasta finalizar la secundaria."
    />
    <meta name="keywords" content="Gartenstadt Schule Colegio Ciudad Jardin" />
    <title>Gartenstadt Schule :: Inicial</title>
    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/img/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/img/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/img/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/img/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/img/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/img/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/img/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/img/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/assets.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "317371079455822");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        src="https://www.facebook.com/tr?id=317371079455822&ev=PageView
    &noscript=1"
      />
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body>
    <section class="mb-4 pb-4">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-gart fixed-top py-0"
        id="navbar"
      >
        <a class="navbar-brand" href="/Index"
          ><img
            class="img-brand"
            src="/img/logo-01.png"
            alt="logo Gartenstadt Schule"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarMenu"
          aria-controls="navbarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav mr-auto d-none" id="menuMobile">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                NUESTRO COLEGIO
              </a>
              <div
                class="dropdown-menu text-center"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/nuestrocolegio#director"
                  >Nuestro director</a
                >
                <a class="dropdown-item" href="/nuestrocolegio#staff">Staff</a>
                <a class="dropdown-item" href="/nuestrocolegio#historia"
                  >Historia</a
                >
                <a class="dropdown-item" href="/nuestrocolegio#calendario"
                  >Calendario escolar</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                DEPARTAMENTOS
              </a>
              <div
                class="dropdown-menu text-center"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item" href="/deutsch"
                  >Departamento de Alemán</a
                >
                <a class="dropdown-item" href="/english"
                  >Departamento de Inglés</a
                >
                <a class="dropdown-item" href="/musica"
                  >Departamento de Música</a
                >
                <a class="dropdown-item disabled" href="/informatica"
                  >Departamento de Informática</a
                >
                <a class="dropdown-item" href="/educacionfisica"
                  >Departamento de Educación Física</a
                >
                <a class="dropdown-item" href="/secundaria"
                  >Dirección Nivel Secundaria</a
                >
                <a class="dropdown-item" href="/primaria"
                  >Dirección Nivel Primaria</a
                >
                <a class="dropdown-item" href="/inicial"
                  >Dirección Nivel Inicial</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                EL GARTENSTADT
              </a>
              <div
                class="dropdown-menu text-center"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item disabled" href="/vidaescolar"
                  >Vida Escolar</a
                >
                <a class="dropdown-item" href="/orientacion"
                  >Equipo de Orientación Escolar</a
                >
                <a class="dropdown-item disabled" href="/intercambios"
                  >Schüleraustausch</a
                >
                <a class="dropdown-item disabled" href="/veronica"
                  >Schullandheim Verónica</a
                >
                <a class="dropdown-item disabled" href="/serviciocomunitario"
                  >Community Service</a
                >
                <a class="dropdown-item disabled" href="/mejorpromedio"
                  >Ehrentafel</a
                >
                <a class="dropdown-item disabled" href="/aulas-digitales"
                  >Aulas Digitales: Educational Technology</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                EVENTOS
              </a>
              <div
                class="dropdown-menu text-center"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <a class="dropdown-item disabled" href="/concerts"
                  >English Concerts</a
                >
                <a class="dropdown-item disabled" href="/expresarte"
                  >Expresarte</a
                >
                <a class="dropdown-item disabled" href="/expresarte"
                  >Familienfest</a
                >
                <a class="dropdown-item disabled" href="/expoalemania"
                  >Expoalemania</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Administracion">ADMINISTRACIÓN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Admisiones">ADMISIONES</a>
            </li>
          </ul>
          <div id="navbarGart">
            <div>
              <div class="btn-group dropdown h-100">
                <button
                  type="button"
                  class="dropdown-toggle btn btn-block"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  NUESTRO COLEGIO
                </button>
                <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                  <a
                    class="dropdown-item text-white"
                    href="/nuestrocolegio#director"
                    >Nuestro director</a
                  >
                  <a
                    class="dropdown-item text-white"
                    href="/nuestrocolegio#staff"
                    >Staff</a
                  >
                  <a
                    class="dropdown-item text-white"
                    href="/nuestrocolegio#historia"
                    >Historia</a
                  >
                  <a
                    class="dropdown-item text-white"
                    href="/nuestrocolegio#calendario"
                    >Calendario escolar</a
                  >
                </div>
              </div>
            </div>
            <div>
              <div class="btn-group dropdown h-100">
                <button
                  type="button"
                  class="dropdown-toggle btn btn-block"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  DEPARTAMENTOS
                </button>
                <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                  <a class="dropdown-item text-white" href="/deutsch"
                    >Departamento de Alemán</a
                  >
                  <a class="dropdown-item text-white" href="/english"
                    >Departamento de Inglés</a
                  >
                  <a class="dropdown-item text-white" href="/musica"
                    >Departamento de Música</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/informatica"
                    >Departamento de Informática</a
                  >
                  <a class="dropdown-item text-white" href="/educacionfisica"
                    >Departamento de Educación Física</a
                  >

                  <a class="dropdown-item text-white" href="/secundaria"
                    >Dirección Nivel Secundaria</a
                  >
                  <a class="dropdown-item text-white" href="/primaria"
                    >Dirección Nivel Primaria</a
                  >
                  <a class="dropdown-item text-white" href="/inicial"
                    >Dirección Nivel Inicial</a
                  >
                </div>
              </div>
            </div>
            <div>
              <div class="btn-group dropdown h-100">
                <button
                  type="button"
                  class="dropdown-toggle btn btn-block"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  EL GARTENSTADT
                </button>
                <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                  <a
                    class="dropdown-item text-white disabled"
                    href="/vidaescolar"
                    >Vida Escolar</a
                  >
                  <a class="dropdown-item text-white" href="/orientacion"
                    >Equipo de Orientación Escolar</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/intercambios"
                    >Schüleraustausch</a
                  >
                  <a class="dropdown-item text-white disabled" href="/veronica"
                    >Schullandheim Verónica</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/serviciocomunitario"
                    >Community Service</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/mejorpromedio"
                    >Ehrentafel</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/aulas-digitales"
                    >Aulas Digitales: Educational Technology</a
                  >
                </div>
              </div>
            </div>
            <div>
              <div class="btn-group dropdown h-100">
                <button
                  type="button"
                  class="dropdown-toggle btn btn-block"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  EVENTOS
                </button>
                <div class="dropdown-menu bg-transparente pt-4 mt-n1">
                  <a class="dropdown-item text-white disabled" href="/concerts"
                    >English Concerts</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/expresarte"
                    >Expresarte</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/expresarte"
                    >Familienfest</a
                  >
                  <a
                    class="dropdown-item text-white disabled"
                    href="/expoalemania"
                    >Expoalemania</a
                  >
                </div>
              </div>
            </div>
            <div>
              <a href="/Administracion" class="btn btn-block">ADMINISTRACIÓN</a>
            </div>
            <div>
              <a href="/Admisiones" class="btn btn-block">ADMISIÓN</a>
            </div>
          </div>
          <ul class="navbar-nav ml-auto border-right">
            <li class="nav-item pr-3">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/Index">Colegio Ciudad Jardin</a>
            </li>
          </ul>
          <img class="img-lang" src="/img/iconos/iconos-13.png" alt="" />
        </div>
      </nav>
    </section>

    <section id="landing">
      <div
        class="landing-img"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.15),
              rgba(0, 0, 0, 0.65)
            ),
            url(/img/inicial/top.jpg);
        "
      >
        <h2 class="landing-title">Nivel Inicial</h2>
        <h5 class="landing-subtitle">¡Bienvenidos!</h5>
      </div>
    </section>

    <section id="intro-text">
      <div class="contenedor">
        <h2 class="text-center mb-4">Nuestra Propuesta</h2>
        <p>
          Nuestra propuesta pedagógica contempla una educación integral,
          ofreciendo una amplia variedad de actividades que preparan a nuestros
          alumnos para afrontar un mundo en permanente cambio.
        </p>
        <p class="text-center mt-5">
          <i>
            “Cuidar con dedicación, estimular con entusiasmo y enseñar con
            profesionalismo.”
          </i>
        </p>
      </div>
    </section>
    <section class="c-amarillo text-white">
      <div class="contenedor">
        <h3 class="text-center">El Idioma</h3>
        <p class="text-center">
          En esta etapa, los niños no aprenden un idioma, sino que lo adquieren.
        </p>
        <p>
          Es por esta razón que, desde Sala de 3, nuestros alumnos tienen clases
          de alemán, en las que juegan, cantan canciones y leen en el idioma. En
          el caso del inglés, los niños comienzan a estudiarlo desde Sala de 4.
          De esta forma, conseguimos que, mientras afianzan la comunicación en
          español, incorporan paralelamente los otros dos idiomas.
        </p>
        <div class="text-center pt-5">
          <a
            href="/deutsch"
            class="btn btn-lg btn-light text-warning mx-3"
            style="border-radius: 10px"
            >Más info de Alemán</a
          >
          <a
            href="/english"
            class="btn btn-lg btn-light text-warning mx-3"
            style="border-radius: 10px"
            >Más info de Inglés</a
          >
        </div>
      </div>
    </section>

    <section id="title-cards" class="c-rojo">
      <div class="mx-3 p-5">
        <h3 class="text-center mb-5 text-white">Actividades</h3>
        <div class="card-deck card-deck-primaria mb-5">
          <div class="card">
            <img
              src="/img/inicial/actividades/lecciones paseo.jpg"
              class="card-img-top"
              alt="salidas paseo"
            />
            <div class="card-body pb-2">
              <h5 class="card-title">Lecciones Paseo</h5>
              <p>
                Cada sala realiza diferentes salidas educativas relacionadas con
                Unidades Didácticas o Proyectos. Por ejemplo, el cuartel de
                bomberos, la biblioteca popular, la granja, el Museo de Cs.
                Naturales y el Museo del Automóvil o Aeronáutico.
              </p>
            </div>
            <div class="card-footer text-center border-0 bg-transparent pt-0">
              <a
                href="../inicial/actividades#lecciones-paseo"
                class="btn btn-dark"
                >Ver más</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="/img/inicial/actividades/efemérides.jpg"
              class="card-img-top"
              alt="talleres actos"
            />
            <div class="card-body pb-2">
              <h5 class="card-title">Efemérides</h5>
              <p>
                En el nivel inicial tenemos la intencionalidad de que estos
                momentos importantes de nuestra historia sean más significativos
                para los niños, integrándose a los proyectos áulicos.
              </p>
            </div>
            <div class="card-footer text-center border-0 bg-transparent pt-0">
              <a href="../inicial/actividades#efemerides" class="btn btn-dark"
                >Ver más</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="/img/inicial/actividades/muestras y eventos.jpg"
              class="card-img-top"
              alt="muestras y eventos inicial"
            />
            <div class="card-body pb-2">
              <h5 class="card-title">Muestras y Eventos</h5>
              <p>
                El nivel inicial se caracteriza por trabajar en conjunto con las
                familias, a través de nuestras muestras compartimos con ellas
                las actividades de las distintas salas.
              </p>
            </div>
            <div class="card-footer text-center border-0 bg-transparent pt-0">
              <a
                href="../inicial/actividades#muestras-eventos"
                class="btn btn-dark"
                >Ver más</a
              >
            </div>
          </div>
          <div class="card">
            <img
              src="/img/inicial/actividades/eventos de aleman.jpg"
              class="card-img-top"
              alt="proyectos inicial"
            />
            <div class="card-body pb-2">
              <h5 class="card-title">Eventos de Alemán</h5>
              <p>
                Como parte de la AGDS desde el nivel inicial trabajamos con
                proyectos de cultura y tradiciones alemanas como la Laternenfest
                y el Musikal.
              </p>
            </div>
            <div class="card-footer text-center border-0 bg-transparent pt-0">
              <a
                href="../inicial/actividades#eventos-aleman"
                class="btn btn-dark"
                >Ver más</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="educacionfisica">
      <div class="contenedor pb-0">
        <h3 class="landing-title text-center mb-4">Educación Física</h3>
        <div class="mx-2">
          <p class="text-center">
            La Educación Física en el nivel inicial enriquece la experiencia
            corporal y motriz de los niños.
          </p>
          <p>
            Contamos con un proyecto de natación que inicia en las salas de 4
            años. Además, al cierre del ciclo lectivo se realiza la fiesta de la
            educación física, en el cual participan los niños de las salas de 5
            años, junto con alumnos de primaria.
          </p>
        </div>
      </div>
      <div class="card-deck px-5 cards-m">
        <div class="card">
          <a href="/educacionfisica">
            <img class="img-fluid" src="/img/inicial/ed-fisica/natacion.jpg" />
            <h5 class="mb-0 t-celeste text-center font-weight-bolder">
              NATACIÓN
            </h5>
          </a>
        </div>
        <div class="card">
          <a href="/educacionfisica">
            <img class="img-fluid" src="/img/inicial/ed-fisica/pernocte.jpg" />
            <h5 class="mb-0 t-celeste text-center font-weight-bolder">
              PERNOCTE
            </h5>
          </a>
        </div>
        <div class="card">
          <a href="/educacionfisica">
            <img class="img-fluid" src="/img/inicial/ed-fisica/fiesta.jpg" />
            <h5 class="mb-0 t-celeste text-center font-weight-bolder">
              FIESTA ANUAL
            </h5>
          </a>
        </div>
        <div class="card">
          <a href="/educacionfisica">
            <img
              class="img-fluid"
              src="/img/inicial/ed-fisica/campamento.jpg"
            />
            <h5 class="mb-0 t-celeste text-center font-weight-bolder">
              CAMPAMENTO
            </h5>
          </a>
        </div>
      </div>
      <div class="text-center pb-5">
        <a
          href="/educacionfisica"
          class="btn btn-dark btn-lg px-3"
          style="border-radius: 12px"
          >Ver más</a
        >
      </div>
    </section>

    <section id="jornada">
      <div class="contenedor c-celeste text-white">
        <h3 class="text-center mb-2">La Jornada</h3>
        <h5 class="text-center font-weight-bolder">Jornada simple</h5>
        <div class="text-center row justify-content-md-center">
          <div class="col-4">
            <ul>
              <li style="list-style-position: inside; font-size: 22px">
                Sala de 1: 8:00 a 11:20
              </li>
              <li style="list-style-position: inside; font-size: 22px">
                Sala de 2: 8:00 a 11:30
              </li>
            </ul>
          </div>
          <div class="col-4">
            <ul>
              <li style="list-style-position: inside; font-size: 22px">
                Sala de 3: 8:00 a 11:35
              </li>
              <li style="list-style-position: inside; font-size: 22px">
                Sala de 4: 8:00 a 11:40
              </li>
            </ul>
          </div>
          <p class="font-italic font-weight-lighter mt-2">
            La jornada completa es opcional para las salas de 1, 2, 3 y 4 años y
            obligatoria para sala de 5 años.
          </p>
        </div>
        <div
          class="mx-4"
          style="
            border-top: 1px solid white;
            padding-top: 45px;
            margin-top: 35px;
          "
        >
          <h5 class="text-center font-weight-bolder">Jornada Completa</h5>
          <div class="text-center">
            <ul class="p-0">
              <li style="list-style-position: inside; font-size: 22px">
                Salas 1 y 2: 8:00 a 16:20
              </li>
              <li style="list-style-position: inside; font-size: 22px">
                Sala de 3, 4 y 5: 8:00 a 16:30
              </li>
            </ul>
          </div>
          <p class="font-italic mt-2 text-center">
            Cuenta con una hora de almuerzo, de 12 a 13hs (en casa, con vianda o
            menú del comedor) y dos horas de siesta para salas de 1, 2 y 3 de 13
            a 15hs
          </p>
        </div>
      </div>
    </section>

    <section id="horarios">
      <div class="contenedor">
        <div class="btn-group">
          <a
            type="button"
            class="btn btn-lg px-3 py-1 c-celeste text-white dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            style="border-radius: 12px"
            aria-expanded="false"
            id="dropdown-hora"
          >
            Sala de 1 Jornada Completa
          </a>
          <div class="dropdown-menu py-0" style="min-width: 9rem">
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="1-c"
              >Sala de 1 Jornada Completa</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="1-s"
              >Sala de 1 Jornada Simple</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="2-c"
              >Sala de 2 Jornada Completa</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="2-s"
              >Sala de 2 Jornada Simple</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="3-c"
              >Sala de 3 Jornada Completa</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="3-s"
              >Sala de 3 Jornada Simple</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="4-c"
              >Sala de 4 Jornada Completa</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="4-s"
              >Sala de 4 Jornada Simple</a
            >
            <a
              class="dropdown-item c-celeste text-white"
              href="javascript:void(0);"
              onclick="hora()"
              data-sala="5-c"
              >Sala de 5 Jornada Completa</a
            >
          </div>
        </div>
        <div class="row my-4">
          <div class="col text-center mt-5">
            <i class="far fa-clock fa-5x mb-4 t-celeste"></i>
            <h4 class="font-weight-bolder t-celeste">
              Horario <br />
              Entrada
            </h4>
            <h3 class="btn c-celeste text-white btn-horario" id="hora-entrada">
              08:00
            </h3>
          </div>
          <div class="col text-center mt-5">
            <i class="fa fa-utensils fa-5x mb-4 t-amarillo"></i>
            <h4 class="font-weight-bolder t-amarillo">
              Almuerzo y <br />
              Siesta
            </h4>
            <h3
              class="btn c-amarillo text-white btn-horario"
              id="hora-almuerzo"
            >
              12:00 - 13:00
            </h3>
            <h3 class="btn c-amarillo text-white btn-horario" id="hora-siesta">
              13:00 - 15:00
            </h3>
          </div>
          <div class="col text-center mt-5">
            <i class="fa fa-house-user fa-5x mb-4 t-rojo"></i>
            <h4 class="font-weight-bolder t-rojo">
              Horario<br />
              Salida
            </h4>
            <h3 class="btn c-rojo text-white btn-horario" id="hora-salida">
              16:20
            </h3>
          </div>
        </div>
      </div>
    </section>

    <section class="c-amarillo text-white text-center pt-4" hidden>
      <div class="pt-4">
        <h3>Las Aulas</h3>
        <div id="carrusel" class="p-0">
          <div>
            <img
              src="/img/inicial/laternenfest/Laternenfest1.jpg"
              alt="imagen de laternenfest 1"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="row m-0 h-100">
        <div class="col-sm-8 align-self-center">
          <ul class="m-auto">
            <li>
              <a
                class="btn btn-gart"
                href="https://mail.google.com/a/colegiociudadjardin.edu.ar"
                >Web Mail</a
              >
            </li>
            <li><a class="btn btn-gart" href="/login">campus Virtual</a></li>
            <li>
              <a class="btn btn-gart disabled" href="/comollegar"
                >como llegar</a
              >
            </li>
            <li>
              <div class="btn-group dropup">
                <button
                  type="button"
                  class="btn-gart dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Alumnos
                </button>
                <div class="dropdown-menu mb-2">
                  <a class="dropdown-item" href="/inicial">inicial</a>
                  <a class="dropdown-item" href="/primaria">primaria</a>
                  <a class="dropdown-item" href="/secundaria">secundaria</a>
                </div>
              </div>
            </li>
            <li><a class="btn btn-gart" href="/Tour">Tour 360</a></li>
          </ul>
        </div>
        <div
          class="
            col-sm-3
            offset-sm-1
            ml-auto
            my-auto
            text-right
            align-self-center
          "
        >
          <a href="#" class="mr-2"
            ><i
              class="fab fa-facebook fa-lg"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
            ></i
          ></a>
          <a
            href="https://www.instagram.com/colegiociudadjardin/"
            target="_blank"
            class="mr-2"
            ><i
              class="fab fa-instagram fa-lg"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="Instagram"
            ></i
          ></a>
          <a href="#" class="mr-2"
            ><i
              class="fab fa-linkedin fa-lg"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="Linkedin"
            ></i
          ></a>
          <a
            href="https://www.youtube.com/channel/UCq0sbkaq4GOd-rrrF7rzVIg"
            target="_blank"
            class="mr-2"
            ><i
              class="fab fa-youtube fa-lg"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="top"
              title="Youtube"
            ></i
          ></a>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script>
      $("#carrusel").slick({
        dots: true,
        infinite: true,
        autoplay: true,
        speed: 500,
        fade: true,
        cssEase: "linear",
      });

      function hora() {
        let almuerzo = document.getElementById("hora-almuerzo");
        let siesta = document.getElementById("hora-siesta");
        let salida = document.getElementById("hora-salida");
        let dropdown = document.getElementById("dropdown-hora");
        let sala = this.event.target.dataset.sala;
        dropdown.innerText = this.event.target.innerText;
        switch (sala) {
          case "1-c":
            almuerzo.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-almuerzo">
          12:00 - 13:00
          </h3>`;
            siesta.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-siesta">
          13:00 - 15:00
        </h3>`;
            salida.innerText = "16:20";
            break;
          case "2-c":
            almuerzo.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-almuerzo">
          12:00 - 13:00
          </h3>`;
            siesta.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-siesta">
          13:00 - 15:00
        </h3>`;
            salida.innerText = "16:20";
            break;
          case "3-c":
            almuerzo.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-almuerzo">
          12:00 - 13:00
          </h3>`;
            siesta.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-siesta">
          13:00 - 15:00
        </h3>`;
            salida.innerText = "16:30";
            break;
          case "4-c":
            almuerzo.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-almuerzo">
          12:00 - 13:00
          </h3>`;
            siesta.outerHTML = '<h3 class="d-none" id="hora-siesta"></h3>';
            salida.innerText = "16:30";
            break;
          case "5-c":
            almuerzo.outerHTML = `<h3 class="btn c-amarillo text-white btn-horario" id="hora-almuerzo">
          12:00 - 13:00
          </h3>`;
            siesta.outerHTML = '<h3 class="d-none" id="hora-siesta"></h3>';
            salida.innerText = "16:30";
            break;
          case "1-s":
            almuerzo.outerHTML = '<h3 class="d-none" id="hora-almuerzo"></h3>';
            siesta.outerHTML = '<h3 class="d-none" id="hora-siesta"></h3>';
            salida.innerText = "11:20";
            break;
          case "2-s":
            almuerzo.outerHTML = '<h3 class="d-none" id="hora-almuerzo"></h3>';
            siesta.outerHTML = '<h3 class="d-none" id="hora-siesta"></h3>';
            salida.innerText = "11:30";
            break;
          case "3-s":
            almuerzo.outerHTML = '<h3 class="d-none" id="hora-almuerzo"></h3>';
            siesta.outerHTML = '<h3 class="d-none" id="hora-siesta"></h3>';
            salida.innerText = "11:35";
            break;
          case "4-s":
            almuerzo.outerHTML = '<h3 class="d-none" id="hora-almuerzo"></h3>';
            siesta.outerHTML = '<h3 class="d-none" id="hora-siesta"></h3>';
            salida.innerText = "11:40";
            break;
          default:
            break;
        }
      }
    </script>
  </body>
</html>
